* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px auto 0px auto;
	background-color: #ffffff;
	font-family: Lucida Sans, Arial, sans-serif;
	width: 100%;
}

a {
	color: #00aced;
}

p {
	padding: 10px;
}

img {
	margin: 5px;
	border: 0px;
}

#wrapper {
	margin: 0px auto 0px auto;
	background-color: #f1f1f1;
	max-width: 900px;
	min-width: 550px;
}

#header {
	padding: 10px;
	background-color: #7b7b7b;
	height:80px;
	color: #f4f4f4;
}

#header .logo {
	font-family: 'Homemade Apple', Comic Sans MS;
	font-size: 2em;
	float: left;
}

#header #user-login {
	position: relative;
	float: right;
	top: 15px;
	right: 20px;
	padding: 7px;
}

#header #user-login img {
	position: relative;
	top: 5px;
}

#content #user-login {
	position: relative;
	float: right;
	top: -260px;
	right: 20px;
	padding: 7px;
}

.login, #header #user-login #menu:hover {
	background-color: #444444;
	color: #ffffff;
	border: 1px #ffffff solid;
	border-radius: 8px;
	padding: 5px 5px 10px 10px;
}

#header #user-login #menu .logout {
	display: none;
	font-size: .7em;
	padding-left: 10px;
}

#header #user-login #menu .logout a {
	color: #ffffff;
	text-decoration: none;
}

#header #user-login #menu .logout:hover {
	background-color: #00aced;
}

#nav {
	background-color: #f1f1f1;
	height: 80px;
	position: relative;
}

#nav p {
	margin-right: 50px;
}

#nav #button {
	position: relative;
	float:right;
	right: 10px;
	top: 15px;
	margin: 5px;
}

#button .loading {
	display: none;
	position: absolute;
	right: 25px;
	top: 5px;
	float:right;
	background-color: #f1f1f1;
}

.still-loading {
	top: 5px;
	background-color: #f1f1f1;
	text-align: center;
	color: #8e8e8e;
	line-height: 2em;
	padding: 2em;
}

.still-loading img {
	height: 40px;
	width: 40px;
	margin: 20px;
}

.button {
	background-color: #00aced;
	color: #ffffff;
	position: relative;
	top: 8px;
	padding: 12px;
	border-radius: 12px;
	box-shadow: 2px 2px 2px #999999;
}

.button a {
	color: #ffffff;
}

#content {
	background-color: #f1f1f1;
	padding-bottom: 50px;
}

#sidebar {
	background-color: #c3c3c3;
}

#footer {
	background-color: #c3c3c3;
}

#default-friends {
	padding: 10px 20px 10px 20px;
	margin: 2px;
	color: #000000;
	background-color: #dbdbdb;
}

#default-friends p {
}

#default-friends img.user-image {
	vertical-align: middle;
	position: relative;
	float: left;
	margin: 5px 10px 10px 5px;
}

#default-friends img.user-image a {
	border: 0px;
	text-decoration: none;
}

#default-friends .user {
	font-weight: bold;
	margin: 5px 5px;
}

#default-friends .user a {
	color: #000000;
	text-decoration: none;
}

#default-friends .user a:hover {
	text-decoration: underline;
	color: #00aced;
}

#default-friends .user .new-marker {
	position: relative;
	top: -5px;
	margin: 0px 5px;
	background-color: #00aced;
	color: #ffffff;
	font-size: .6em;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999999;
}

#default-friends .latest-tweet {
	font-size: .7em;
	width: 70%;
	padding-bottom: 15px;
}

#default-friends-subhead {
	padding: 5px 10px 5px 10px;
	color: #00aced;
	text-transform: capitalize;
	background-color: #dbdbdb;
	border-top: 15px solid #00aced;
}

#default-friends-subhead h2 {
	font-family: 'Homemade Apple', Comic Sans MS;
}

#sort-bar {
	background-color: #00aced;
	height: 20px;
	padding: 0px 10px 0px 10px;
}

#sort {
	position: relative;
	float: right;
	top: 5px;
}

#count {
	position: relative;
	top: 15px;
	margin-right: 15px;
}

#count p {
	padding-top: 20px;
}

#count li {
	list-style-type: none;
	position: relative;
	float: right;
	padding-left: 50px;
}

#count li img {
	position: relative;
	top: -20px;
	float: left;
	margin-right: 10px;
}

#count .total {
	text-transform: lowercase;
	color: #7b7b7b;
	font-weight: bold;
}

#count .neutral img, #count .negative img {
	padding-top: 10px;
}

#default-friends.negative {
	background-color: #cddadf;
}

.negative #rating {
	color: #00aced;
	font-weight: bold;
}

#default-friends.negative #rating img {
	padding: 5px 26px;
}

#default-friends.positive {
	background-color: #aedd9b;
}

.positive #rating {
	color: #3dc905;
	font-weight: bold;
}

#default-friends.positive #rating img {
	margin: 5px 23px;
}

#default-friends.neutral {
	background-color: #ebd6a8;
}

.neutral #rating {
	color: #ffe787;
	font-weight: bold;
}

#default-friends.neutral #rating img {
	padding: 5px 27px;
}

#default-friends #rating {
	position: absolute;
	right: 40px;
	width: 25%;
}

#default-friends #rating img {
	vertical-align: middle;
}

#new-friends {
	padding: 10px;
	background-color: #dbdbdb;
	border-top: 2px solid #ffffff;
	text-transform: capitalize;
}

#new-friends img {
	margin: 1px;
}

.new {
	font-size: 6px;
}

.welcome {
	text-align: center;
	color: #8e8e8e;
	line-height: 2em;
	padding: 2em;
}

#happy {
	position: relative;
	top: 100px;
	left: -150px;
}

#sad {
	position: relative;
	top: 150px;
	right: -150px;
}

.footer {
	padding: 30px;
	margin-top: 20px;
	font-size: .6em;
	text-align: center;
	color: #f1f1f1;
}

.footer a {
	text-decoration: none;
}

.footer img {
	vertical-align: middle;
	width: 130px;
	height: 30px;
}

.goodbye {
	font-family: 'Homemade Apple', Comic Sans MS;
	font-size: 2em;
	text-align: center;
	padding: 15px;
}